[club_main_head] {
	justify-content: start;
	align-items: center;
}

[club_main_logo] {
	width: 25px;
	height: 25px;
}

[club_main_post] {
	justify-content: space-between;
}

[club_main_upvote] {
	min-width: 60px!important;
	justify-content: center;
}

[club_main_title2] {
	margin-right: auto;
}

[mol_view_root] {
	width: 100vw;
	height: 100vh;
}

[club_main] {
	width: 500px;
}

[club_post],
[club_comments] {
	width: 840px;
}

[club_main_posttitle] {
	max-width: 380px;
}

[club_main_body_content] {
	height: 100%;
}

[club_main_title1],
[club_main_title2] {
	font-size: 1.8rem;
	line-height: 2.5rem;
	padding: 0.2rem 0.6rem;
	font-weight: bolder;
}

[club_main_head] > [mol_switch] {
	border-top: 1px solid var(--mol_theme_line);
	background-color: var(--mol_theme_card);
	border-radius: 4px;
}
