[club_comments_authoravatar] {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

[club_comments_comment] {
	display: flex;
	flex-flow: column wrap;
	margin: var(--mol_gap_block);
	padding: var(--mol_gap_block);
	background-color: var(--mol_theme_card);
	border-radius: var(--mol_gap_round);
	box-shadow: 0 -0.5rem 0.5rem -0.5rem hsla(0,0%,0%,0.25),0 0.5rem 0.5rem -0.5rem hsla(0,0%,0%,0.25);
}

[club_comments_author] {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: var(--mol_gap_block);
}
