/* Override $mol theme to match vas3k.club colors */
[club] {
	--mol_theme_back: #fcfdff;
	--mol_theme_card: #fff;
	--mol_theme_text: #333;
	--mol_theme_shade: #999;
	--mol_theme_line: #eee;
	--mol_theme_hover: rgba(83, 91, 110, 0.05);
	--mol_theme_focus: #333;
	--mol_theme_field: #fff;
	--mol_theme_control: #333;
	--mol_theme_current: #333;
	--mol_theme_special: #333;
}

@media (prefers-color-scheme: dark) {
	[club] {
		--mol_theme_back: #282c35;
		--mol_theme_card: #1b1b1c;
		--mol_theme_text: #ddd;
		--mol_theme_shade: #737373;
		--mol_theme_line: #444;
		--mol_theme_hover: rgba(255, 255, 255, 0.05);
		--mol_theme_focus: #ddd;
		--mol_theme_field: #373c48;
		--mol_theme_control: #fff;
		--mol_theme_current: #fff;
		--mol_theme_special: #fff;
	}
}
