[club_card_votes] {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	padding: 30px 17px 7px;
	font-size: 140%;
	font-weight: 600;
	font-family: 'Ubuntu', Helvetica, Verdana, sans-serif;
	background-color: var(--mol_theme_back);
	color: var(--mol_theme_text);
	border: solid 2px var(--mol_theme_text);
	border-radius: 15px;
	line-height: 1;
	white-space: nowrap;
}

[club_card]:hover {
	box-shadow: 0 0 40px rgba(94, 104, 125, 0.3);
}

[club_card_votes]:hover {
	background-color: var(--mol_theme_text);
	color: var(--mol_theme_back);
}

[club_card_votes]::before {
	content: '\25B2';
	position: absolute;
	font-size: 18px;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
}
